Repository CodemateLtd/plugins, pull requests merged in 2022-12, with the labels that each got.

#93 [google_maps_places] Fix pubspec issues
  packages/google_maps_places/google_maps_places/pubspec.yaml
  packages/google_maps_places/google_maps_places_android/pubspec.yaml
  packages/google_maps_places/google_maps_places_ios/pubspec.yaml
  packages/google_maps_places/google_maps_places_platform_interface/pubspec.yaml
Labels: platform-android, platform-ios

#96 [google_maps_places] Add git configs to handle Gradle updates
  .github/dependabot.yml
  packages/google_maps_places/google_maps_places/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_places/google_maps_places/example/android/gradle.properties
  packages/google_maps_places/google_maps_places/example/android/settings.gradle
  packages/google_maps_places/google_maps_places_android/example/android/app/gradle/wrapper/gradle-wrapper.properties
  packages/google_maps_places/google_maps_places_android/example/android/gradle.properties
  packages/google_maps_places/google_maps_places_android/example/android/settings.gradle
Labels: platform-android

#98 Improve documentation
  packages/google_maps_flutter/google_maps_flutter_platform_interface/lib/src/types/bitmap.dart
Labels: p: google_maps_flutter
